#menu-items:hover  {
    color: rgb(67, 127, 142);
    cursor: pointer;

}

.background1 {
    background-color: azure;
}

.background2 {
    background-color: rgb(243, 205, 231);
}

.imgSpecial {
    
    position: relative;
    margin-bottom: -70px;
    z-index: 1;
    table-layout: fixed;
    border-collapse: collapse;

}

.coneImg{
    position: relative;
    top: 10px;
    left: 0;

}