
.title-font {
    font-family: 'Fredoka One', cursive;
}

#menu-items:hover  {
    color: rgb(67, 127, 142);
    cursor: pointer;
}

.bg-pink {
    background-color:rgb(255, 93, 143);
}

.bg-medium {
    background-color: rgb(255, 166, 193);
}

.bg-light-pink {
    background-color: rgb(250, 221, 225);
}


.imgSpecial {
    
    position: relative;
    margin-bottom: -160px;
    z-index: 1;
    table-layout: fixed;
    border-collapse: collapse;

}

.coneImg{
    position: relative;
    top: 10px;
    left: 0;

}